* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 20px;
    color: white;
  }
  

  
  .search-container {
    display: flex;
  }
  
  .search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-btn {
    background-color: #fff;
    border: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .profile-img {
    width: 40px;
    border-radius: 50%;
  }
  
  .main-content {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .subjects {
    flex: 2;
  }
  

  
  .subject-list {
    list-style: none;
  }
  
  .subject-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .subject-item span {
    display: block;
    color: #666;
    font-size: 0.9em;
  }
  

  
  .calendar-icon {
    text-align: center;
  }
  
  .calendar-icon i {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .tutors {
    flex: 3;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  

  
  .stars {
    color: gold;
    margin-bottom: 5px;
  }
  
  .tutor-img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;
  }
  
  .tutor-level {
    color: #666;
    font-size: 0.9em;
  }

  .centro{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    
  }
  .buscador_materias{
    
    margin-left: 50px;
    
  }
  .subject-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .calendar {
    flex: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
  }
  .top-tutors{
    
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 40px;
    

  }
    .tutor-cardleft {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 200px;
    margin-left: 50px;
    
  }
  .tutor-cardcenter {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 200px;
  }
  .tutor-cardright {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 200px;
    margin-right: 50px;
    
  }