/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #1a2b49;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
}

.header-content{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: center;

}

.logo {
    height: 50px;
}

.search-bar {
    padding: 15px;
    width: 700px;
    border: none;
    border-radius: 10px;
    
}

.profile-info-container {
    display: flex;
    justify-content: space-between; /* Información a la izquierda, estadísticas a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    text-align: down;
}

.profile-details p {
    margin: 5px 0;
}

.about {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.subjects {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.subject-list {
    display: flex;
    justify-content: space-between;
}

.subject {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    width: 22%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.subject:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}
